@use '../variables/color' as *;

/* Raleway font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: $body-text;
}

html {
  // a11y: 100% of user agent font size means
  // rem will be based on user's preference
  // read more: https://matejlatin.medium.com/5-keys-to-accessible-web-typography-2ff9de3157f5
  font-size: 100%;
  letter-spacing: 0.02ch;
  
  background: $watermelon no-repeat fixed;
  background: linear-gradient(to bottom right, $watermelon, $sunflower) no-repeat fixed;
  overflow-x: hidden;
}

body { 
  max-width: 100vw;
}

h1, h2 {
  color: white;
}

h1 {
  padding: 2rem 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  padding: 1.5rem 2rem 1rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

a {
  color: $watermelon;
  padding-bottom: 1px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $watermelon-light;
  }
  &:active {
    text-decoration: underline;
    color: $watermelon-dark;
  }

  &:visited {
    text-decoration: none;
    color: $watermelon-dark;
  }
}

.contact {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: $body-text-bg;

  h2 {
    color: $body-text;
    font-weight: normal;
    padding-bottom: 0;
  }
  
  a {
    font-size: 1.5rem;
    letter-spacing: 0.04ch;
  }
}
