.tab-controls [role=tab] {
  font-family: monospace;
  
  &.active-tab-control {
    font-weight: bold;
  }
}

/* hide non-active nested tab content */
.tab-panel:not(.active-tab-panel) {
  opacity: 0;
}
