@use "sass:color";

$sunflower: #fd2;
$watermelon: #f45;
$watermelon-dark: color.scale($watermelon, $lightness: -30%);
$watermelon-light: color.scale($watermelon, $lightness: +30%);

$body-text: color.scale($watermelon, $lightness: -90%);
$body-text-bg: rgba(255, 255, 255, 0.9);
