/* Raleway font */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: #200003;
}

html {
  font-size: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #f45 no-repeat fixed;
  background: linear-gradient(to bottom right, #f45, #fd2) no-repeat fixed;
  letter-spacing: 0.02ch;
}

h1, h2 {
  color: white;
}

h1 {
  padding: 2rem 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  padding: 1.5rem 2rem 1rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  letter-spacing: 0;
}

a {
  color: #f45;
  padding-bottom: 1px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff7c88;
}
a:active {
  text-decoration: underline;
  color: #e20015;
}
a:visited {
  text-decoration: none;
  color: #e20015;
}

footer {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.tab-container {
  margin-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-flow: column nowrap;
}
.tab-container .tab-controls {
  margin: 0;
  display: flex;
}
.tab-container .tab-controls li {
  flex-grow: 1;
  list-style-type: none;
  display: inline-block;
}
.tab-container .tab-controls li button[role=tab] {
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 1ch;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
.tab-container .tab-controls li button[role=tab].active-tab-control {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}
.tab-container .tab-panels {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.9);
}
.tab-container .tab-panels .tab-panel {
  padding: 1rem 2rem 2rem;
  width: 100%;
  /* hide non-active nested tab content */
}
.tab-container .tab-panels .tab-panel.active-tab-panel {
  order: -1;
}
.tab-container .tab-panels .tab-panel:not(.active-tab-panel) {
  display: none;
  z-index: -1;
  order: initial;
}
